[phases.setup]
aptPkgs = [
  "libglib2.0-0",
  "libnss3",
  "libatk1.0-0",
  "libatk-bridge2.0-0",
  "libdrm2",
  "libxkbcommon0",
  "libxcomposite1",
  "libxdamage1",
  "libxrandr2",
  "libgbm1",
  "libasound2",
  "libpangocairo-1.0-0",
  "libxshmfence1"
]
